p {
  color:red;
}
img {
  padding-right: 25vm;
  padding-top: 50vm;
  float:right;
}

body  {
  background-image: url("https://sfelton56.github.io/orange/nice/gdc.png");
  background-repeat:no-repeat;
}
